@import '../../assets/scss/pptm-theming.scss';

.table-page-container{
  padding-top: 10%;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}




tr:nth-of-type(odd){
  background-color: rgba(200,200,200,0.4);;
}
tr:nth-of-type(even){
  background-color: rgba(200,200,200,0.7);
}

.mat-header-row{
  background-color: #fff !important;
}
input::placeholder{
  color: black;
}

.mat-elevation-z8{
  width: 100%;
}

.project-edit-button{
  cursor: pointer;
}
.project-delete-button{
  cursor: pointer;
}

.edit-button{
  transition: 0.7s;
  &:hover{
    @include themify($themes){
      color: themed('sixthColor');
    }
  }
}

.delete-button{
  transition: 0.7s;
  &:hover{
    @include themify($themes){
      color: themed('seventhColor');
    }
  }
}


.project-create-button{
  float: right;
}

.extended{
  height: 200px;
}

.mat-elevation-z8 {
  box-shadow: none;
}
