@import '../../assets/scss/pptm-theming.scss';



/*SIDEBAR*/



.sidenav-container {
  height: 100%;
}

.sidenav {
  top:64px !important;
  min-width: 200px;
  max-width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 999;
}



.logo-text{
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
  text-align: center;
  width: 100%;
  padding: 30px 15px 30px 15px;
  color: #004D40;
  border-bottom: 1px solid #e5e5e5;
}

.logo-container{
  height: auto !important;
}


.side-bar-menu{
  min-width: 200px;
  max-width: 250px;
  padding:0px;
  box-shadow: none;

}

.sidebar-menus{
  width:100%;
  text-decoration: none;
  padding-top:10px;
  padding-bottom: 10px;
  transition: 0.7s;

}

.sidebar-menus:hover{
    color: #004D40;
}

.sidebar-menus-icon{
  margin-right: 5px;
  align-self: center;
}
.sidebar-menus-title{
  text-align: left;
}


.sidebar-dropdown-menus-header{
  padding-left:15px;
  padding-right: 15px;
}

.sidebar-dropdown-menus{
  width: 100%;
}

.sidebar-menu-panel-header{
  padding-left:15px;
  padding-right:15px;

}

.sidebar-menu-panel-header:hover{
  color: #004D40;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}











/*MAIN BODY*/

.task-board-header{
  border-bottom: 1px solid rgba(0,0,0,0.05);
  padding-bottom: 20px;
  padding-top: 20px;

  .pptm-page-title{
    font-family: $POIRETONE;
    font-size: 40px;
    text-align: left;
    margin-bottom: 0px;
  }

  .create-task-btn{
    margin-right: 15px;
    float: right;
  }

  .add-task-state-btn{
    margin-left:15px;
    float:right;
  }
}

.task-filter-container{
  height: 100%;
}


.task-board-container{
  margin-top: 15px;
  mat-expansion-panel{
    margin-right: 15px;
    margin-top: 30px;
  }
}

.mat-desc-shortnote{
  margin-bottom: 0px;
}
.label-options{
  height: 18px;
  max-width: 200px;
  margin: 0px;
  font-size:12px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}


.task-details-container{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(150,150,150,0.3);
}

.task-name-container{
  background-color: rgba(200,200,200,0.4);
}

.task-description-container{
  background-color: rgba(200,200,200,0.7);
}

.task-short-note-container{
  background-color: rgba(200,200,200,0.4);
}

.task-status-container{
  background-color: rgba(200,200,200,0.7);
}

.task-deadline-container{
  background-color: rgba(200,200,200,0.4);
}

.task-priority-container{
  background-color: rgba(200,200,200,0.7);
}

.task-label-container{
  background-color: rgba(200,200,200,0.4);
}

.task-cid-container{
  background-color: rgba(200,200,200,0.7);
}

.task-jid-container{
  background-color: rgba(200,200,200,0.4);
}

.task-board-container mat-expansion-panel {
  margin-top: 5px;
}

.mat-select{
  padding-left: 0px;
}

.task-color-label{
  padding-left: 15px;
}
