<app-header [sideNavBar]="sidenav"></app-header>

<mat-sidenav-container class="example-container pptm-theme-light">
    <mat-sidenav class="col-2 side-bar-menu" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">

      <!--
      <a [routerLink]="['/projectboard']" routerLinkActive="router-link-active" mat-button class="sidebar-menus">
        <div class="row">
            <mat-icon class="sidebar-menus-icon col-1">collections_bookmark</mat-icon>
            <span class="col-9 sidebar-menus-title">PROJECT BOARD</span>
        </div>
      </a>
      <a [routerLink]="['/taskboard']" routerLinkActive="router-link-active" mat-button class="sidebar-menus">
        <div class="row">
            <mat-icon class="sidebar-menus-icon col-1">assignment_turned_in</mat-icon>
            <span class="col-9 sidebar-menus-title">TASK BOARD</span>
        </div>
      </a>

      <a [routerLink]="['/clientboard']" routerLinkActive="router-link-active" mat-button class="sidebar-menus">
        <div class="row">
            <mat-icon class="sidebar-menus-icon col-1">supervisor_account</mat-icon>
            <span class="col-9 sidebar-menus-title">CLIENT BOARD</span>
        </div>
      </a>

      <a [routerLink]="['/userboard']" routerLinkActive="router-link-active" mat-button class="sidebar-menus">
        <div class="row">
            <mat-icon class="sidebar-menus-icon col-1">people_outline</mat-icon>
            <span class="col-9 sidebar-menus-title">USER BOARD</span>
        </div>
      </a>
    -->
      <mat-expansion-panel class="sidebar-menu-panel">
        <mat-expansion-panel-header class="sidebar-menu-panel-header">
          <mat-panel-title class="row">
              <mat-icon class="sidebar-menus-icon col-1">collections_bookmark</mat-icon>
              <span class="col-9 sidebar-menus-title">PROJECT BOARD</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <a [routerLink]="['/projectboard']" routerLinkActive="router-link-active" mat-button class="sidebar-menus">
          <div class="row">
              <mat-icon class="sidebar-menus-icon col-1">visibility</mat-icon>
              <span class="col-9 sidebar-menus-title">View Projects</span>
          </div>
        </a>
        <button mat-button class="sidebar-menus">
          <div class="row">
              <mat-icon class="sidebar-menus-icon col-1">queue</mat-icon>
              <span class="col-9 sidebar-menus-title">Add New Project</span>
          </div>
        </button>

      </mat-expansion-panel>

      <mat-expansion-panel class="sidebar-menu-panel">
        <mat-expansion-panel-header class="sidebar-menu-panel-header">
          <mat-panel-title class="row">
              <mat-icon class="sidebar-menus-icon col-1">assignment_turned_in</mat-icon>
              <span class="col-9 sidebar-menus-title">TASK BOARD</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <a [routerLink]="['/projectboard']" routerLinkActive="router-link-active" mat-button class="sidebar-menus">
          <div class="row">
              <mat-icon class="sidebar-menus-icon col-1">visibility</mat-icon>
              <span class="col-9 sidebar-menus-title">View Tasks</span>
          </div>
        </a>
        <button mat-button class="sidebar-menus">
          <div class="row">
              <mat-icon class="sidebar-menus-icon col-1">queue</mat-icon>
              <span class="col-9 sidebar-menus-title">Add New Task</span>
          </div>
        </button>

      </mat-expansion-panel>


    </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
