.create-project-form-name{
  width: 80%;
  input{
    width: 100%;
  }
}

.create-project-form-cid {
  width: 35%;
  margin-right:5%;
  input{
    width: 100%;
  }
}

.create-project-form-jid{
  width: 35%;
  margin-left:5%;
  input{
    width: 100%;
  }
}

.create-project-submit-button{
  margin-right: 5%;
}

.create-project-cancel-button{
  margin-left: 5%;
}
