<div class="container-fluid pptm-theme-light">
  <div class="row">
    <form class="container">
      <mat-form-field class="full-width create-project-form-name">
        <input matInput placeholder="Project Name" required>
      </mat-form-field>

      <mat-form-field class="full-width create-project-form-cid">
          <input matInput placeholder="CID" required>
      </mat-form-field>

      <mat-form-field class="full-width create-project-form-jid">
          <input matInput placeholder="JID" required>
      </mat-form-field>
      <div class="row">
        <div class="container">
          <button type='submit' class='create-project-submit-button' mat-raised-button color='primary'>Create</button>
          <button mat-raised-button class="create-project-cancel-button" color="primary">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
