/* You can add global styles to this file, and also import other style files */
@import './assets/scss/pptm-material-theming.scss';
@import './assets/scss/pptm-theming.scss';
@import './assets/scss/bootstrap/bootstrap.scss';





button:focus {
  outline: none;
}

textarea{
  resize: none;
}
